<h1><%= @blogger.name %></h1>
<h3><%= @blogger.age %></h3>
<p><%= @blogger.bio %></p>

<h2><%= @blogger.total_likes %></h2>
<h2><%= link_to @blogger.featured_post.title, post_path(@blogger.featured_post) %></h2>